
@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaSlab-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaSlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaSlab-ExtendedHeavyItalic.ttf') format('truetype');
}
