
@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaSlab-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Slab Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaSlab-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaSlab-ExtendedHeavyItalic.ttf') format('truetype');
}
